@model TrklPPR.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Plat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Titre         
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Déscription
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Prix
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Catégorie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editer</a> |
    <a asp-action="Index">Retour</a>
</div>
