<div class="container-legal">

    <div class="map-photo">
        <div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.9785019981136!2d3.0546844754208515!3d50.62751617460037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d59b6babca83%3A0xbbea8e7b6cf9e568!2s30%20Rue%20des%20Postes%2C%2059000%20Lille!5e0!3m2!1sfr!2sfr!4v1704713010265!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><a class="our-googlemap-code" href="https://www.bootstrapskins.com/themes"
            id="make-map-infor-mation">premium bootstrap themes</a>
        <style>
            #my-map-display img {
                max-width: none !important;
                background: none !important;
                font-size: inherit;
                font-weight: inherit;
            }
        </style>
    </div>
    <div class="flex-legal">
        <div class="subcontainer-legal">
            <h5 class="subtitle-legal">Contact</h5>
            <ul class="h-list">
                <li>
                    <a href="#!" class="footer-link">placeholder@email.com</a>
                </li>
                <li>
                    <a href="#!" class="footer-link">06 06 06 06 06</a>
                </li>
                <li>
                    <a href="#!" class="footer-link">socials</a>
                </li>
            </ul>
            <h5 class="subtitle-legal">Mentions légales</h5>
            <ul class="h-list">
                <li>
                    <a href="#!" class="footer-link">Notre engagement</a>
                </li>
                <li>
                    <a href="#!" class="footer-link">Nos partenaires</a>
                </li>
                <li>
                    <a href="#!" class="footer-link">Qui sommes-nous ?</a>
                </li>
            </ul>
        </div>
    </div>
</div>