@model TrklPPR.Models.ReservationForm
@if (TempData["SuccessMessage"] != null)
{
    <p>Message pour le formulaire de contact : @TempData["SuccessMessage"]</p>
}

<div class="reservez" id="reservez">
    <button class="prendre-reservation-close-btn" id="prendre-reservation-close-btn">&times;</button>
    <h2>Réservez à l'avance !</h2>
    <p>Vous en avez ral-le-bol de faire la queue ? Alors, n'attendez plus et réservez en avance ! </p>
    <form asp-action="Index" method="post" class="formulaire_reservation">
        <label asp-for="FirstName">Votre nom</label>
        <input asp-for="FirstName" id="nom" name="Nom" placeholder="Martin">
        <span asp-validation-for="FirstName" class="text-danger"></span>

        <label asp-for="LastName">Votre prénom</label>
        <input asp-for="LastName" type="text" id="prenom" name="Prenom" placeholder="Martin">
        <span asp-validation-for="LastName" class="text-danger"></span>

        <label asp-for="PhoneNumber">Votre numéro de téléphone</label>
        <input asp-for="PhoneNumber" type="phone" id="phone" name="Téléphone" placeholder="06XXXXXXXX">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        <label asp-for="Email">Votre e-mail</label>
        <input asp-for="Email" type="email" id="email" name="E-mail" placeholder="monadresse@mail.com">
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Date">Choisissez une date</label>
        <input asp-for="Date" type="datetime-local" id="date" name="Date">
        <span asp-validation-for="Date" class="text-danger"></span>

        <label asp-for="NbPeople">Combien êtes-vous ?</label>
        <input asp-for="NbPeople" type="number" id="nb_personnes" name="Nombre de personnes">
        <span asp-validation-for="NbPeople" class="text-danger"></span>

        <label asp-for="Message">Votre message</label>
        <textarea asp-for="Message" id="message" name="Message"
            placeholder="Bonjour, je vous contacte car...."></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>

        <button class="btn_envoyer" type="submit">Envoyer</button>


    </form>
</div>