@* <div id="teamModal" class="carousel">
    <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/400" class="d-block w-100"
                            alt="POTICHA1">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/401" class="d-block w-100"
                            alt="POTICHA2"> </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/402" class="d-block w-100"
                            alt="POTICHA3">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/403" class="d-block w-100"
                            alt="POTICHA4">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/404" class="d-block w-100"
                            alt="POTICHA5">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/405" class="d-block w-100"
                            alt="POTICHA6">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/406" class="d-block w-100"
                            alt="POTICHA7">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/407" class="d-block w-100"
                            alt="POTICHA8">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/408" class="d-block w-100"
                            alt="POTICHA9">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="https://placekitten.com/800/409" class="d-block w-100"
                            alt="POTICHA10">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>Nom</span><br><br><span>Prénom</span></h5>
                        <p class="card-text">Role</p>
                        <p class="card-text">Date d'embauche</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <script src="~/wwwroot/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div> *@