<div class="container-who">
    <div class="who-left">
        <h2 class="who-title">
            Qui sommes-nous ?
        </h2>
        <p class="who-text">
            Plongez dans l'histoire intemporelle de notre restaurant, qui, depuis 1992, enchante les palais avec une
            dévotion sans faille envers l'épice par excellence : le poivre.
        </p>
        <p class="who-text">
            Situé au cœur de la vieille ville, notre établissement est le fruit de décennies de passion pour l'art
            culinaire.
        </p>
        <p class="who-text">
            Depuis nos débuts, nous avons façonné une expérience gastronomique empreinte de tradition et d'innovation,
            mettant en exergue le poivre sous toutes ses formes.
            Vous trouverez des recettes emblématiques, parfois inattendues, aux nuances subtiles et aux arômes
            audacieux.
        </p>
        <p class="who-text">
            Au fil des ans, notre restaurant est devenu le lieu de prédilection des amateurs de cuisine raffinée, une
            destination où l'histoire du poivre se raconte à travers chaque plat, invitant les convives à un voyage
            gustatif inégalé.
        </p>
        <div class="bistrophoto">
            <img class="photobistro" src="~/img/bistro_img.jpg" alt="photobistro">
        </div>
        <h4 class="who-arrow">
            Découvrez notre magnifique équipe ! <span class="rarr">&rarr;</span>
        </h4>
    </div>
    <div class="who-right">
        <img class="img-right" src="~/img/team.jpg" alt="team">
    </div>
</div>